@model IEnumerable<CineTicket.Models.ShowingViewModel>

@{
    ViewData["Title"] = "CineTicket";
}

<div class="jumbotron">
    <h1>Welcome to CineTicket!</h1>
    <p>Your one stop shop for Cinema tickets!</p>
</div>
<h2>Currently showing:</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalonName)
            </th>
            <th>
                Seats
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
    {
        <!-- Wrap row with "Book" action -->
        
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalonName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RemainingSeats) seats left
                </td>
                <td><a asp-action="BookTicket" asp-route-id="@item.ID">Book</a></td>
            </tr>
}
    </tbody>
</table>
